@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  background-image: url("C:\Users\abdulrhman\Documents\first_project\Order-summary-component/images/pattern-background-desktop.svg");
  background-size: contain;
  background-color: red;
}
